.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.axis-label {
  color:#ececec;
}

body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 30px;
}

pre {
  font-size: 7em;
}

label, select {
  font-size: 23px;
}

select option {
  font-size: 23px;
}

.marks .land {
  fill: #ececec;
}

.marks .sphere {
  fill: #fbfbfb;
}

.marks .interiors {
  fill: none;
  stroke: #d9dfe0;
}

.marks .graticules, .tick line {
  fill: none;
  stroke: #ececec;
}

circle {
  fill: #137B80;
  opacity: 0.3;
}

circle.catMark {
  fill: #137B80;
  opacity: 0.3;
}

circle.dogMark {
  fill: #608d0d;
  opacity: 0.3;
}

circle.dolphinMark {
  fill: #07395a;
  opacity: 0.3;
}

circle.whaleMark {
  fill: #520b6e;
  opacity: 0.3;
}

circle.rabbitMark {
  fill: #546e0b;
  opacity: 0.3;
}

circle.squirrelMark {
  fill: #6e2f0b;
  opacity: 0.3;
}

circle.elephantMark {
  fill: #3f3d3d;
  opacity: 0.3;
}

circle.skinwalkerMark {
  fill: #6e0b0b;
  opacity: 0.3;
}

.Blegend-color-1 {
  height: 25px;
  width: 25px;
  background-color: #137B80;
  border-radius: 50%;
  display: inline-block;
}

.Blegend-color-2 {
  height: 25px;
  width: 25px;
  background-color: #608d0d;
  border-radius: 50%;
  display: inline-block;
}

.Blegend-color-3 {
  height: 25px;
  width: 25px;
  background-color: #6e2f0b;
  border-radius: 50%;
  display: inline-block;
}

.Blegend-color-4 {
  height: 25px;
  width: 25px;
  background-color: #546e0b;
  border-radius: 50%;
  display: inline-block;
}

.Blegend-color-5 {
  height: 25px;
  width: 25px;
  background-color: #07395a;
  border-radius: 50%;
  display: inline-block;
}

.Blegend-color-6 {
  height: 25px;
  width: 25px;
  background-color: #520b6e;
  border-radius: 50%;
  display: inline-block;
}

.Blegend-color-7 {
  height: 25px;
  width: 25px;
  background-color: #3f3d3d;
  border-radius: 50%;
  display: inline-block;
}

.Blegend-color-8 {
  height: 25px;
  width: 25px;
  background-color: #6e0b0b;
  border-radius: 50%;
  display: inline-block;
}

.circleDog {
  fill: #25DDE6;
  opacity: 0.3;
}

.tick text {
  fill: #635F5D;
  font-size: 0.5em;
}

.mark {
  fill: #137B80;
}

.axis-label {
  font-size: 0.5em;
  fill: #635F5D;
}

.marker-line {
  stroke: black;
  stroke-width: 2px;
}

.legend-color-1 {
  height: 25px;
  width: 25px;
  background-color: #17C82C;
  border-radius: 50%;
  display: inline-block;
}

.legend-color-2 {
  height: 25px;
  width: 25px;
  background-color: #25DDE6;
  border-radius: 50%;
  display: inline-block;
}

.legend-color-3 {
  height: 25px;
  width: 25px;
  background-color: #DD25E6;
  border-radius: 50%;
  display: inline-block;
}